{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}
  <section>
    <div class="container">
      <div class="col-lg-12">
        <h1>{{noticia.title}} <small>{{noticia.category}}</small></h1>
        <p><em>{{noticia.date_published}}</em></p>
        <div class="col-lg-3">
      {% thumbnail noticia.photo "200x200" crop="center" as im %}
        <img src="{{ im.url }}" width = "{{ im.width }}" height="{{ im.height }}" >
        {% endthumbnail %}
        </div>
        <div class="col-lg-9">
          <p>{{ noticia.content }}</p>  
          
        </div>
                
      </div>

    </div>
  </section>
  {% endblock %}